<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    <div id="profileContainer">
      <div id="profile">
        <header>
          <!-- avator -->
          <div class="avatar">
            <img class="avatarMask" src="/img/{{ .Site.Params.avatar }}" alt="avatar">
            <img src="/img/avatar-border.svg" alt="avatar-border">
          </div>
          <!-- author -->
          <h1 class="author">{{ .Site.Params.Author }}</h1>
        </header>
        <!-- description -->
        <p>
          {{ .Site.Params.description }}
        </p>
        <!-- navigation -->
        <nav>
          <ul>
            {{ range .Site.Menus.main }}
            <li><a href="{{ .URL }}" aria-label="{{ .Name }}">{{ .Pre }}</a></li>
            {{ end }}
          </ul>
        </nav>
      </div>
    </div>
    {{- partial "footer.html" . -}}
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.6.0/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#config-web-app -->

    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyBjMYlsNiByNxu_lzbp7r1XV3DNuFZLRdQ",
        authDomain: "personal-website-dc80b.firebaseapp.com",
        databaseURL: "https://personal-website-dc80b.firebaseio.com",
        projectId: "personal-website-dc80b",
        storageBucket: "personal-website-dc80b.appspot.com",
        messagingSenderId: "763050019593",
        appId: "1:763050019593:web:d15dc51f0c7419ba9b21d8"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
    </script>
  </body>
</html>
